/* CSS Document */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 68, 255);
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Div da side bar com Menu */

#container-side {
    list-style-type: none;
    height: 100vh;
    min-height: 100vh;
    width: 260px;
    display: none;
    flex-direction: column;
    background-color: rgb(9, 26, 255);
    z-index: 12;
    position: fixed;
    box-shadow: 2px 0px 10px;
    transition: all 0.5s;
}

#container-side li {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 107, 247);
    z-index: 2;
}

#container-side li button {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    margin: 1.5% 0% 1.5% 0%;
    display: block;
    text-align: center;
    transition: all 0.5s;
    border: none;
}

#container-side li button:hover {
    background-color: rgb(124, 143, 252);
}

#container-side li button:focus{
    outline-style: none;
}

#container-side li button p {
    font-family: "Montserrat",sans-serif;
    font-size: 9pt;
    position: relative;
}

#btmenu{
    font-family: "Montserrat",sans-serif;
    font-size: 28pt;
    transition: all 0.5s;
    background-color: rgb(200, 230, 255);
    z-index: 11;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 60px;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.534);
    border: 1px solid rgba(0, 0, 0, 0.541);
}

#btmenu:hover{
    -webkit-transform: scale(1.3);
}

#btmenu:focus{
    outline-style: none;
}

/* Div Dos Contatos */

#container-contatos {
    display: flex;
    color: white;
    min-height: 100vh;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -2px 0px 10px rgb(10, 10, 10);
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover;
}

#container-contatos h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 36pt;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Div com Barra de Pesquisa e Botão de Pesquisar*/

.topop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#barraPesquisa {
    width: 90%;
    border-radius: 10px 0px 0px 10px;
    font-family: "Montserrat",sans-serif;
    font-size: 18pt;
    background-color: rgba(240, 248, 255, 0.562);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0x 5px rgba(0, 0, 0, 0.705);
    padding: 7px 4px 6px 4px;
    margin-bottom: 40px;
    color: rgb(58, 58, 58);
    border-right: none;
}

.topop button {
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
    box-shadow: 0px 0x 5px rgba(0, 0, 0, 0.705);
    background-color: rgba(240, 248, 255, 0.562);
    transition: all 0.5s;
    border-radius: 0px 10px 10px 0px;
}

#barraPesquisa:hover {
    background-color: rgba(240, 248, 255, 0.85);
}

.topop button:hover {
    background-color: rgba(240, 248, 255, 0.85);
}

#barraPesquisa:focus {
    outline-style: none;
}

.topop button:focus {
    outline-style: none;
}

/* Botão Cadastrar Contatos */

.btcad {
    padding:8px 13px 8px 13px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    background-color: rgba(17, 61, 255, 0.603);
    transition: all 0.5s;
    margin-bottom: 30px;
    font-family: "Montserrat",sans-serif;
    font-size: 16pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color:white;
}

.btcad:hover  {
    -webkit-transform: scale(1.3);
}

.btcad:focus {
    outline-style: none;
}

/* H2 tipo da lista */

#h2-type {
    font-size: 28pt;
    font-family: "Montserrat",sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

/* Div externa com todos os Contatos */

#contacts-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Div interna com um Contato */

.contact-data {
    background-color: aliceblue;
    border-radius: 20px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.705);
    border: none;
    transition: all 0.5s;
    font-family: "Montserrat",sans-serif;
    font-size: 22pt;
    color: rgba(129, 129, 129, 0);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.contact-data:hover {
    -webkit-transform: scale(1.2);
    color: rgba(129, 129, 129, 0.87);
}

.contact-data:focus {
    outline-style: none;
}

.contact-data img {
    margin: 10px;
    border: 1px solid red;
    border-radius: 20px;
}

/* Div do Cadastrar do Contato */

#container-cadastrar {
    position: fixed;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Formulario Cadastro Contato */

#cc-internal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Montserrat",sans-serif;background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin:2px;
    overflow: auto;
}

#cc-internal h1{
    font-size: 26pt;
    margin-bottom: 20px;
}

#cc-internal fieldset {
    border: none;
    margin: 10px 0px 10px 0px;
}

#cc-internal label{
    padding: 3px;
    font-size: 12pt;
    margin: 5px;
}

#cc-internal input, #cc-internal textarea{
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

#cc-internal input:focus, #cc-internal textarea:focus{
    outline-style: none;
    border: 1px solid rgb(0, 174, 255);
}

.btinput {
    width: 95%;
    background-color: rgba(142, 195, 255, 0.445);
    transition: all 0.5s;
}

.btinput:hover {
    -webkit-transform: scale(1.1);
}

.btinput:focus {
    outline-style: none;
}

/* Divs Externas Visualização Dados do Contato */

#container-vcont {
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-height: 100vh;
    z-index: 12;
}

#container-op {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

/* Div com botões Editar, Excluir, Favoritar Contato*/

#container-opts {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: center;
}

#container-opts button{
    background-color: rgba(61, 87, 253, 0);
    border: none;
    border-radius: 20px;
    margin: 6px;
    transition: all 0.5s;
}

#container-opts button:hover {
    -webkit-transform: scale(1.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.603);
}

/* Div com dados do contato  */

#container-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
}

#container-perfil p {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    background-color: rgb(214, 236, 255);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 8px;
}

#container-perfil label {
    border-radius: 20px;
    font-size: 13pt;
}

#container-perfil input {
    font-size: 12pt;
    border-radius: 5px;
    border: 0px;
}

#container-perfil input:focus {
    outline-style: none;
    border: 1px solid rgb(0, 174, 255);
}

#container-perfil button {
    background-color: rgba(240, 248, 255, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13pt;
    margin-top: 6px;
    padding: 5px;
    transition: all 0.5s;
}

#container-perfil button:hover {
    -webkit-transform: scale(1.3);
}

#container-perfil button:focus {
    outline-style: none;
}
