/* CSS Document */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 68, 255);
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container-side {
    list-style-type: none;
    height: 100vh;
    min-height: 100vh;
    width: 25%;
    max-width: 220px;
    display: none;
    flex-direction: column;
    background-color: rgb(9, 26, 255);
    z-index: 5;
    position: fixed;
    box-shadow: 2px 0px 10px;
}

#container-side li {
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 107, 247);
    z-index: 2;
}

#container-side li button {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    margin: 1.5% 0% 1.5% 0%;
    display: block;
    text-align: center;
    transition: all 1s;
    border: none;
}

#container-side li button:hover {
    background-color: rgb(124, 143, 252);
}

#container-side li button:focus{
    outline-style: none;
}

#container-side li button p {
    font-family: "Montserrat",sans-serif;
    font-size: 9pt;
    position: relative;
}

#container-main, #container-contatos, #container-favoritos {
    color: white;
    min-height: 100vh;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -2px 0px 10px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover;
    border: 1px solid red;
}

#container-main p{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 18pt;
    margin: 30px;
    text-align: center;
}

#container-contatos, #container-favoritos {
    display: none;
}

#container-main h1, #container-contatos h1, #container-favoritos h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 36pt;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
    margin-top: 20px;
}

#container-main h2{
    font-size: 28pt;
    color: white;
    font-family: "Montserrat",sans-serif;
}

#container-contatos table, #container-favoritos table {
    border-radius: 20px;
    height: 100%;
    position: relative;
    max-height: 50vh;
    width: 70%;
}

#container-contatos table tr, #container-favoritos table tr {
    width: 100%;
}

#container-contatos table tr td, #container-favoritos table tr td {
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
    transition: all 1s;
}

#container-contatos table tr td:hover, #container-favoritos table tr td:hover {
    -webkit-transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
}

#container-contatos table tr td img, #container-favoritos table tr td img {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.container-td {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(217, 237, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-dados {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label {
    font-family: "Montserrat",sans-serif;
    color: black;
    font-size: 14pt;
}

.container-bts {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-bts button {
    border-radius: 20px;
    background-color: rgb(61, 87, 253);
    transition: all 1s;
    padding: 3px;
    border: none;
    font-size: 12pt;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}

.container-bts button:hover {
    -webkit-transform: scale(1.2);
}

.container-bts button:focus {
    outline-style: none;
}

#container-contatos table caption, #container-favoritos table caption {
    font-size: 24pt;
    font-family: "Montserrat",sans-serif;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    border: none;
    margin-bottom: 30px;
}

#container-logout {
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    transition: all 1s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-logout h2 {
    font-size: 24pt;
    color: white;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}

#container-logout button {
    width: 400px;
    max-width: 80%;
    height: 30px;
    font-family: "Montserrat",sans-serif;
    margin-top: 20px;
    font-size: 22pt;
    border: none;
    border-radius: 20px;
    background-color: rgb(72, 100, 253);
    color: white;
    transition: all 1s;
    text-align: center;
    box-shadow: 0px 0px 8px black;
}

#container-logout button:hover {
    background-color: rgb(108, 130, 255);
    -webkit-transform: scale(1.1);
}

#container-logout button:focus {
    outline-style: none;
}
