/* CSS Document */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
}

.container-side {
    list-style-type: none;
    height: 100vh;
    width: 25%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    z-index: 4;
}

.container-side li {
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 35);
    z-index: 2;
}

.container-side #lihome {
    
    border-radius: 0px 20px 0px 0px;
}

.container-side #lisair {
    border-radius: 0px 0px 20px 0px;    
}

.container-side li button {
    font-weight: 500;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    margin: 1.5% 0% 1.5% 0%;
    display: block;
    text-align: center;
    transition: all 1s;
    border: none;
}

.container-side li button:hover {
    box-shadow: -2px 0px 10px rgb(10, 10, 10);
}

.container-side li button p {
    font-size: 10pt;
    position: relative;
}

.container-main {
    color: white;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: rgb(10, 10, 10);
    box-shadow: -2px 0px 10px rgb(10, 10, 10);
}

.container-main iframe {
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
}

