/* CSS Document */

@charset "UTF-8";


* {
    border: 1px solid red;
}

body {
    background-color: white;
    color: black;
}

#sidebar{
    height: 100vh;
    display: block;
    width: 350px;
    max-width: 80%;
    display: none;
}

#sidebar button {
    position: relative;
}

#sidebar aside {
    height: 100vh;
    margin: 0;
    width: 50px;
}

#sideBar aside #closeSide {
    height: 100vh;
    margin: 0;
    position: relative;
}

header {

}

header #tpb {
    width: 100%;
    padding: 10px 0px 10px 0px;
}


