/* CSS Document */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 68, 255);
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Div Carregamento */

#container-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 12;
}

#container-loading h1{
    color: white;
    font-size: 36pt;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

/* Div alerts */

#alerts {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 0;
}

#alerts #internal-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 20px;
}

#alerts h1 {
    color: rgb(61, 61, 61);
    font-size: 18pt;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.185);
}

#alerts button {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    background-color: rgba(0, 119, 255, 0.445);
    transition: all 0.5s;
    font-size: 18pt;
    font-family: "Montserrat",sans-serif;
    color: white;
    width: 60%;
}

#alerts button:hover {
    background-color: rgba(0, 119, 255, 0.664);
    -webkit-transform: scale(1.2);
}

#alerts button:focus {
    outline-style: none;
}

/* Div da side bar com Menu */

#container-side {
    list-style-type: none;
    height: 100vh;
    min-height: 100vh;
    width: 260px;
    display: none;
    flex-direction: column;
    background-color: rgb(9, 26, 255);
    z-index: 12;
    position: fixed;
    box-shadow: 2px 0px 10px;
    transition: all 0.5s;
}

#container-side li {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 107, 247);
    z-index: 2;
}

#container-side li button {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    margin: 1.5% 0% 1.5% 0%;
    display: block;
    text-align: center;
    transition: all 0.5s;
    border: none;
}

#container-side li button:hover {
    background-color: rgb(124, 143, 252);
}

#container-side li button:focus{
    outline-style: none;
}

#container-side li button p {
    font-family: "Montserrat",sans-serif;
    font-size: 9pt;
    position: relative;
}

#btmenu{
    font-family: "Montserrat",sans-serif;
    font-size: 28pt;
    transition: all 0.5s;
    background-color: rgb(200, 230, 255);
    z-index: 11;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 60px;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.534);
    border: 1px solid rgba(0, 0, 0, 0.541);
}

#btmenu:hover{
    -webkit-transform: scale(1.3);
}

#btmenu:focus{
    outline-style: none;
}

/* Div Dos Contatos */

#container-contatos {
    display: flex;
    color: white;
    width: 100%;
    min-height: 100vh;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover;
}

#container-contatos h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 36pt;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Div com Barra de Pesquisa e Botão de Pesquisar*/

.topop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#barraPesquisa {
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    font-family: "Montserrat",sans-serif;
    font-size: 18pt;
    background-color: rgba(240, 248, 255, 0.562);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0x 5px rgba(0, 0, 0, 0.705);
    padding: 7px 4px 6px 4px;
    color: rgb(58, 58, 58);
    margin-bottom: 40px;
}

#listContact {
    display: none;
    width: 88%;
    max-height: 350px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
    background-color: rgba(240, 248, 255, 0.562);
    list-style-type: none;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: auto;

}

#listContact button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 65px;
    font-family: "Montserrat",sans-serif;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    text-align: left;
    color: rgb(58, 58, 58);
    font-size: 18pt;
    margin-top: 10px;
}

#listContact button img {
    margin-right: 10px; 
    margin-left: 30px;
}

#listContact button:hover {
    background-color: rgba(240, 248, 255, 0.425);
}

#listContact button:focus {
    outline-style: none;
}

#barraPesquisa:hover {
    background-color: rgba(240, 248, 255, 0.85);
}

#barraPesquisa:focus {
    outline-style: none;
}

/* Botão Cadastrar Contatos */

.btcad {
    padding:8px 13px 8px 13px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    background-color: rgba(17, 61, 255, 0.603);
    transition: all 0.5s;
    margin-bottom: 30px;
    font-family: "Montserrat",sans-serif;
    font-size: 16pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color:white;
}

.btcad:hover  {
    -webkit-transform: scale(1.3);
}

.btcad:focus {
    outline-style: none;
}

/* H2 tipo da lista */

#h2-type {
    font-size: 28pt;
    font-family: "Montserrat",sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

/* Div externa com todos os Contatos */

#contacts-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#not-contacts, #not-favorits {
    margin-top: 45px;
    font-size: 26pt;
    font-family: "Montserrat",sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    display: none;
}

/* Div interna com um Contato */

.contact-data {
    background-color: rgba(17, 61, 255, 0.603);
    border-radius: 20px;
    margin: 30px;
    align-items: center;
    border: none;
    transition: all 0.5s;
    width: 260px;
    display: flex;
    flex-direction: column;
    -webkit-transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}

.contac h2{
    font-size: 18pt;
    text-shadow: 0px 0px 5px black;
    font-family: "Montserrat",sans-serif;
}

.contact-data:hover {
    -webkit-transform: scale(1.2);
    background-color: rgba(17, 61, 255, 0.301);
}

.contact-data:focus {
    outline-style: none;
}

.contact-data img {
    margin: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    border: none;
}

.contact-data label {
    font-size: 12pt;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-family: "Montserrat",sans-serif;
    border-top: 0px;
    width: 230px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

.contact-data .lcontact {
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 13pt;
}

.contact-data .fimg {
    margin-top: -20px;
    border-radius: 0px;
}

.contact-data .internal-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.308);
    border-radius: 20px;
    opacity: 0;
    transition: all 1s;
}

.contact-data .internal-view:hover {
    opacity: 1;
}

.contact-data .internal-view button {
    font-weight: 500;
    font-family: "Montserrat",sans-serif;
    border-radius: 10px;
    background-color: rgba(17, 61, 255, 0.719);
    color: rgb(240, 248, 255);
    padding: 10px 35px 10px 35px;
    transition: all 1s;
}

.contact-data .internal-view button:hover {
    -webkit-transform: scale(1.2);
}

.contact-data .internal-view button:focus {
    outline-style: none;
}

.contact-data button {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: 600;
    background-color: rgba(0, 60, 255, 0.829);
    border:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    color: white;
    box-shadow: 0px 0px 10px black;
}

.contact button:hover {

}

.contact-data button:focus {
    outline-style: none;
}

.contact-data button img {
    border: none;
    margin: 0px 0px 0px 10px;
}

/* Div paginação contatos */

#pags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

#pags button {
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 12pt;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 60, 255, 0.616);
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: all 0.5s;
}

#pags button:hover {
    -webkit-transform: scale(1.2);
    background-color: rgba(0, 60, 255, 0.425);
} 

#pags button:focus {
    outline-style: none;
}

/* Div do Cadastrar do Contato */

#container-cadastrar {
    position: absolute;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    min-height: 900px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Formulario Cadastro Contato */

#cc-internal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Montserrat",sans-serif;background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    overflow: auto;
}

#cc-internal h1{
    font-size: 26pt;
    margin-bottom: 20px;
}

#cc-internal fieldset {
    border: none;
    margin: 10px 0px 10px 0px;
}

#cc-internal label{
    padding: 3px;
    font-size: 12pt;
    margin: 5px;
}

#cc-internal input, #cc-internal textarea{
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

#cc-internal input:focus, #cc-internal textarea:focus{
    outline-style: none;
    border: 1px solid rgb(0, 174, 255);
}

.btinput {
    width: 95%;
    background-color: rgba(142, 195, 255, 0.445);
    transition: all 0.5s;
}

.btinput:hover {
    -webkit-transform: scale(1.1);
}

.btinput:focus {
    outline-style: none;
}

/* Divs Externas Visualização Dados do Contato */

#container-vcont {
    position: absolute;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    min-height: 800px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#container-op {
    background-color: rgb(217, 237, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#container-op h2 {
    font-size: 24pt;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
}

/* Div com botões Editar, Excluir, Favoritar Contato*/

#container-opts {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: center;
}

#container-opts button{
    background-color: rgba(61, 87, 253, 0);
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

#container-opts button:hover {
    -webkit-transform: scale(1.4);
}

#container-opts button:focus {
    outline-style: none;
}

#delete-contact {
    background-image: url("../img/delete02.png");
}

#delete-contact:hover {
    background-image: url("../img/delete01.png");
}

#favorite-contact {
    background-image: url("../img/icon-favorito.png");
}

#favorite-contact:hover {
    background-image: url("../img/favorit-icon.png");
}

#edit-contact {
    background-image: url("../img/edit.png");
}

#edit-contact:hover {
    background-image: url("../img/edit01.png");
}

/* Div com dados do contato  */

#container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat",sans-serif;
    background-color: rgba(215, 237, 255, 0);
    border-radius: 20px;
    width: 300px;
}

#container-perfil label {
    padding: 3px;
    font-size: 12pt;
    margin: 5px;
}

#container-perfil .editInput, #container-perfil textarea {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
    border-radius: 10px;
    width: 90%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

#container-perfil input:focus, #container-perfil textarea:focus {
    outline-style: none;
    border: 1px solid rgb(0, 174, 255);
}

.bteinput {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    width: 90%;
    background-color: rgba(142, 195, 255, 0.445);
    transition: all 0.5s;
}

.bteinput:hover {
    -webkit-transform: scale(1.2);
}

.bteinput:focus {
    outline-style: none;
}

#btEditConf, #btEditCanc {
    display: none;
}